.login {
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContainer {
    width: 100%;
    padding: 30px 20px;
    padding-bottom: 20px;
    max-width: 1500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginContainer .loginBox {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.loginContainer .loginBox .loginHeader {
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0px;
}

.loginContainer .loginBox .loginSubHeader {
    padding: 20px 0px;
    font-size: 17px;
    color: grey;
}

.loginContainer .loginBox .loginSearchBar {
    padding: 20px 0px;
}

.loginContainer .loginBox .loginSearchBar .loginSearchBarItem {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.loginContainer .loginBox .loginSearchBar .loginSearchBarItem .loginSearchBarIcon {
    font-size: 30px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.loginContainer .loginBox .loginSearchBar .loginSearchBarItem .loginSearchInput {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    outline: none;
}

.loginContainer .loginBox .loginButton {
    background-color: #006ce4;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.loginContainer .loginBox .loginButton:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.loginContainer .loginBox .loginRegisterLink {
    font-size: 15px;
    padding-top: 30px;
    cursor: pointer;
}

.loginContainer .loginBox .loginRegisterLink:hover {
    color: #006ce4;
}

.loginContainer .loginBox .loginErrorMessage {
    padding: 10px 0px;
    color: red;
}

.loginContainer .loginBox .loginMessage {
    padding: 10px 0px;
    color: green;
}
