.profile{
    padding : 10px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileContainer{
    width: 100%;
    padding : 30px 20px;
    padding-bottom: 20px;
    max-width: 1024px;
    display: flex;
    gap:20px;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.profileContainer .profileHeader{
    font-size: 40px;
    font-weight: 600;
    color: #006ce4;
}

.profileContainer .profileDetails{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.profileContainer .profileDetails .profileDetailsItem{
    display: flex;
    gap: 20px;
    align-items: center;
}

.profileContainer .profileDetails .profileDetailsItem .profileDetailsItemLabel{
    font-size: 20px;
}

.profileContainer .profileDetails .profileDetailsItem .profileDetailsItemField{
    display: flex;
    align-items: center;
}

.profileContainer .profileDetails .profileDetailsItem .profileDetailsItemField .profileDetailsItemFieldInput{
    display: flex;
    align-items: center;
    outline: none;
    width: 300px;
    font-size: 20px;
    background-color: transparent;
}

.profileContainer .profileDetails .profileDetailsItem .profileDetailsItemDesc{
    color: rgb(203, 202, 202);
}

@media (max-width: 768px) {
    .profileContainer .profileDetails .profileDetailsItem .profileDetailsItemDesc{
        display: none;
    }
}

.profileContainer .profileUpdateButton{
    background-color: #006ce4;
    margin-left: auto;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.profileContainer .profileUpdateButton:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 768px) {
    .profileContainer .profileUpdateButton{
        margin: 0px auto;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}