.adminDashboard {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminDashboardContainer {
    width: 100%;
    padding: 30px 20px;
    padding-bottom: 20px;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.adminDashboardContainer .adminDashBoardOptions {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.adminDashboardContainer .adminDashBoardOptions .adminDashBoardOption {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
    cursor: pointer;
    font-size: 25px;
    color: #006ce4;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
}

.adminDashboardContainer .adminDashBoardOptions .adminDashBoardOption:hover {
    border-radius: 15px;
    border: 2px solid lightgray;
}

.adminDashboardContainer .adminDashBoardOptions .adminDashBoardOption .adminDashBoardOptionItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 150px;
    z-index: 100;
}

.adminDashboardContainer .adminDashBoardOptions .adminDashBoardOption .adminDashBoardOptionItems .adminDashBoardOptionItem {
    padding: 10px;
    font-size: 15px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
    color: black;
}

.adminDashboardContainer .adminDashBoardOptions .adminDashBoardOption .adminDashBoardOptionItems .adminDashBoardOptionItem:last-child {
    border-bottom: none;
}

.adminDashboardContainer .adminDashBoardOptions .adminDashBoardOption .adminDashBoardOptionItems .adminDashBoardOptionItem:hover {
    text-decoration: underline;
}

.adminDashboardContainer .adminDashBoardOptions .adminDashBoardOptionSelected {
    border-radius: 15px;
    border: 2px solid #006ce4;
}

@media (max-width: 768px) {
    .adminDashboardContainer .adminDashBoardOptions {
        flex-wrap: wrap;
    }
}

.adminDashboardContainer .adminDashboardForm {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
}

.adminDashboardContainer .adminDashboardForm .adminDashboardFormHeader {
    padding: 20px 20px;
    font-size: 23px;
    font-weight: 500;
}

.adminDashboardContainer .adminDashboardForm .adminDashboardFormInputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 600;
    padding: 0px 20px;
}

.adminDashboardContainer .adminDashboardForm .adminDashboardFormInputs .adminDashboardFormField {
    display: flex;
    gap: 20px;
    align-items: center;
}

.adminDashboardContainer .adminDashboardForm .adminDashboardFormInputs .adminDashboardFormField .css-b62m3t-container .css-13cymwt-control {
    width: 200px;
}

.adminDashboardContainer .adminDashboardForm .adminDashboardFormInputs .adminDashboardFormField input {
    outline: none;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

.adminDashboardContainer .adminDashboardForm .adminDashboardFormInputs .adminDashboardFormField select {
    width: 200px;
    height: auto;
    overflow-y: auto;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

.adminDashboardContainer .adminDashboardForm .adminDashboardFormInputs .adminDashboardFormField .adminDashboardPhotoClearButton {
    padding: 5px;
    background-color: rgb(243, 50, 50);
    border-radius: 7px;
    color: white;
    cursor: pointer;
}

.adminDashboardContainer .adminDashboardForm .adminDashboardFormInputs .adminDashboardFormField .adminDashboardPhotoClearButton:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.adminDashboardContainer .adminDashboardForm .adminDashboardFormInputs .adminDashboardFormSubmitButtons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.adminDashboardContainer .adminDashboardForm .adminDashboardFormInputs .adminDashboardFormSubmitButtons .adminDashboardFormSubmitButton {
    background-color: #006ce4;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.adminDashboardContainer .adminDashboardForm .adminDashboardFormInputs .adminDashboardFormSubmitButtons .adminDashboardFormSubmitButton:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
