.listCard {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px 10px;
    margin: 15px 0px;
}

.listCard .listCardContainer {
    padding: 10px;
    display: flex;
    gap: 20px;
}

.listCard .listCardContainer .listCardImage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listCard .listCardContainer .listCardImage img {
    width: 250px;
    height: auto;
    max-height: 250px;
}

.listCard .listCardContainer .listCardHotelDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.listCard .listCardContainer .listCardHotelDetails .listCardHotelName {
    font-size: 30px;
    color: #0168b2;
    font-weight: 600;
}

.listCard .listCardContainer .listCardHotelDetails .listCardHotelDistance {
    font-size: 15px;
    font-weight: 600;
}

.listCard .listCardContainer .listCardHotelDetails .listCardHotelAirport h3 {
    border-radius: 7px;
    background-color: #00751d;
    display: inline;
    padding: 5px;
    font-size: 15px;
    color: white;
}

.listCard .listCardContainer .listCardHotelDetails .listCardHotelDescription {
    font-size: 17px;
    font-weight: 600;
}

.listCard .listCardContainer .listCardHotelDetails .listCardHotelFreeCancel {
    color: #00751d;
    font-weight: 600;
    font-size: 17px;
}

.listCard .listCardContainer .listCardHotelPriceDetails {
    margin-left: auto;
    width: 200px;
    position: relative;
}

.listCard .listCardContainer .listCardHotelPriceDetails .listCardHotelRating {
    display: flex;
    justify-content: flex-end;
}

.listCard .listCardContainer .listCardHotelPriceDetails .listCardHotelRating .listCardHotelRatingIn {
    background-color: #063272;
    color: white;
    padding: 5px 8px;
}

.listCard .listCardContainer .listCardHotelPriceDetails .listCardHotelPriceIn {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.listCard .listCardContainer .listCardHotelPriceDetails .listCardHotelPriceIn .listCardHotelPrice,
.listCard .listCardContainer .listCardHotelPriceDetails .listCardHotelPriceIn .listCardHotelIncludes,
.listCard .listCardContainer .listCardHotelPriceDetails .listCardHotelPriceIn .listCardHotelAvailability {
    display: flex;
    justify-content: flex-end;
}

.listCard .listCardContainer .listCardHotelPriceDetails .listCardHotelPriceIn .listCardHotelPrice {
    font-size: 25px;
}

.listCard .listCardContainer .listCardHotelPriceDetails .listCardHotelPriceIn .listCardHotelIncludes {
    font-size: 15px;
}

.listCard .listCardContainer .listCardHotelPriceDetails .listCardHotelPriceIn .listCardHotelAvailability {
    width: 200px;
}

.listCard .listCardContainer .listCardHotelPriceDetails .listCardHotelPriceIn .listCardHotelAvailability .listCardHotelAvailabilityIn {
    background-color: #00751d;
    color: white;
    padding: 7px 20px;
    cursor: pointer;
}

.listCard .listCardContainer .listCardHotelPriceDetails .listCardHotelPriceIn .listCardHotelAvailability .listCardHotelAvailabilityIn:hover {
    background-color: #025c19;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (max-width: 769px) {
    .listCard .listCardContainer {
        flex-direction: row;
    }
}

.listCard:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
