.roomContainer {
    border: 2px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.roomContainer .roomContainerLeft {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.roomContainer .roomContainerLeft .roomHeader {
    font-size: 20px;
    font-weight: 500;
}

.roomContainer .roomContainerLeft .roomDescription {
    font-size: 15px;
}

.roomContainer .roomContainerLeft .roomPerson {
    font-size: 15px;
    display: flex;
    gap: 10px;
}

.roomContainer .roomContainerLeft .roonPrice {
    font-size: 15px;
}

.roomContainer .roomContainerRight {
    display: flex;
    gap: 20px;
}

.roomContainer .roomContainerRight .roomNumber {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
}
