.bookingBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    cursor: pointer;
}



.bookingBox .leftContainer .hotelName {
    font-size: 25px;
    padding: 10px 0px;
    font-weight: 500;
}

.bookingBox .leftContainer .bookingRoomNumbers {
    font-weight: 500;
}

.bookingBox .leftContainer .bookingRoomNumbers .bookingRoomNumber {
    background-color: #0258bb;
    display: inline;
    padding: 5px;
    margin: 0px 10px;
    color: white;
    border-radius: 5px;
}

.bookingBox .leftContainer .bookingId {
    padding-top: 15px;
    color: rgb(192, 191, 191);
    font-size: 15px;
}

.bookingBox .leftContainer .checkin {
    font-size: 15px;
    font-weight: 500;
    padding-top: 10px;
}
